@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #FECD2F;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    font-size: 16px;
    font-weight: 400;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    width: 20%;
    height: 20%;

}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
}

.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 16px;
    font-weight: 700;
}

.banner__text {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
}

.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.topicos__item {
    margin: 2em 0.5em;
}

.contato {
    background: var(--branco);
    padding: 1em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}
.contato__texto{
    font-weight:300;
    margin: 1em 0;
  }
  .contato__titulo,
  .contato__texto {
    background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
   background-clip: text;
  }
  .contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
  }
  .contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;

    .container__titulo{
        display: none;
  }
  @media screen and (min-width: 1024px){
    .container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }
      .container__titulo--negrito{
        font-weight: 700;
    }
}